#main__cards-container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  margin: auto;
  justify-items: center;
}

#main__cards-container img {
  width: 85%;
  text-align: center;
}
