@import url("./help-buttons.css");
@import url("./remaining-text.css");
@import url("./remaining.css");

#main__right-sidebar {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  justify-items: center;
  padding: 15px 0px;
}
