#main__left-sidebar-players {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 1%;
  box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.75);
}

.main__left-sidebar-player {
  margin: 6px 6px;
  box-shadow: none;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 16px;
  text-decoration: none;
  outline: none;
}

.main__left-sidebar-player:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.main__left-sidebar-player:active {
  position: relative;
  top: 1px;
}

.main__left-sidebar-player-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.player-points {
  font-size: 1.2em;
  width: 100%;
  padding: 3px 15px;
  margin-right: 5px;
  text-align: right;
}
