/*.abscenter {
  position: relative;
}

#main__left-sidebar-buttons {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.main__left-sidebar-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  outline: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.main__left-sidebar-button:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.main__left-sidebar-button:active {
  position: relative;
  top: 1px;
}
*/
.main__left-sidebar-buttons-label {
  border: 3px solid #1a1a1a;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  box-shadow: 3px 3px #1a1a1a;
  transition: background 600ms ease, color 600ms ease;
}
.main__left-sidebar-radio {
  display: none;
}
.main__left-sidebar-radio + label {
  cursor: pointer;
  min-width: 60px;
}
.main__left-sidebarr-radio + label:hover {
  background: none;
  color: #1a1a1a;
}
.main__left-sidebar-radio + label:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
.main__left-sidebar-radio.main__left-sidebar-radioActual + label {
  border-right: 0;
  padding: 10px 20px;
}
.main__left-sidebar-radio.main__left-sidebar-radioActual + label:after {
  left: 100%;
}
.main__left-sidebar-radio.main__left-sidebar-radioAggregated + label {
  margin-left: -5px;
}
.main__left-sidebar-radio.main__left-sidebar-radioAggregated + label:after {
  left: -100%;
  margin-right: 4px;
}
.main__left-sidebar-radio:checked + label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
}
.main__left-sidebar-radio:checked + label:after {
  left: 0;
}
