@import url("game/play-field/play-field.css");
@import url("game/left-sidebar/left-sidebar.css");
@import url("game/right-sidebar/right-sidebar.css");
@import url("menu/menu.css");

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #878f99;
  color: black;
}

#main {
  display: none;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  margin: auto;
  justify-items: center;
}
