#game-over {
  display: none;
  flex-direction: column;
  width: fit-content;
  border: 1px solid rgba(rgb(0, 0, 0), 0.03);
  border-radius: 30px;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
  padding: 40px 69px;
  background-color: #727b85ab;
  margin: auto;
  margin-top: 70px;
  align-items: center;
  text-align: center;
}

#game-over__onePlayer {
  text-align: center;
  margin-left: 129px;
  margin-right: 129px;
}

.game-over-title {
  font-size: 2.4em;
  text-align: center;
  padding: 15px 25px;
  margin-top: 90px;
  margin-bottom: 75px;
}

.game-over__onePlayer-congrats {
  font-size: 1.7em;
  text-align: center;
}

#game-over__onePlayer-time {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 100px;
}

.game-over__onePlayer-points-text {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 30px;
}

#game-over__onePlayer-points {
  font-size: 1.2em;
  text-align: center;
}

#game-over-buttonMenu {
  margin: 15px;
  margin-top: 80px;
  margin-bottom: 78px;
  font-size: 1.3em;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

#game-over-buttonMenu:hover {
  color: #000000;
  background-color: #ffffff;
}
