@import url("difficulty/difficulty.css");
@import url("game-mode/game-mode.css");
@import url("players/players.css");
@import url("start-button/start-button.css");
@import url("sub/extra-settings/settings.css");
@import url("sub/game-rules/rules.css");
@import url("sub/scoreboard/scoreboard.css");

#menu {
  width: fit-content;
  border: 1px solid rgba(rgb(0, 0, 0), 0.03);
  border-radius: 30px;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
  padding: 40px 100px;
  background-color: #727b85ab;
  color: aliceblue;
  margin: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

#menu__title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 4em;
  letter-spacing: 5px;
  border-bottom: 2px solid black;
  margin: auto;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px rgba(65, 64, 64, 0.877);
}

.menu__text {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
}

#menu__sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu__sub-text {
  font-size: 1.3rem;
}

.menu__sub-button {
  font-size: 2em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
